#score{
	-fx-font-family:"Lucida Console",monospace;
	-fx-font-size:36px;
	-fx-fill:black;
}

#scoreboard{
	-fx-font-family:"Lucida Console",monospace;
	-fx-font-size:18px;
	-fx-fill:white;
}

#start_button{
	-fx-font-family:"Lucida Console",monospace;
	-fx-font-size:18px;
	-fx-background-color:white;
}

#start_button:hover{
	-fx-background-color:black;
	-fx-text-fill:white;
}

#start_button:focus{
	-fx-background-color:black;
	-fx-text-fill:white;
}